@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Cousine&family=Martel:wght@200;400;800&family=Rubik+Mono+One&family=Ultra&display=swap');

html{
    height: 100%;
}

body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    display: grid;
    grid-gap: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-top: 15%;
    box-sizing: border-box;
    background: none;
    text-align: center;
    margin-bottom: 10%;
}

.box3{
    padding-left: 20%;
    padding-right: 20%;
}

.question{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgb(255, 255, 255);
    word-spacing: 5%;
    line-height: 1;
}

.follow{
    font-size: 1.5em;
    font-family: "Martel", sans-serif;
    color: rgb(255, 255, 255);
    word-spacing: 5%;
    margin-bottom: 2em;
    animation: appear 2s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0%;
}

#start{
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 0px 0px white;
    animation: float 2s ease-in-out infinite, appear 2.5s ease-in; 
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    opacity: 0%;
}

@keyframes float {
	0% {
		box-shadow: 0px 0px 10px 2px white;
		transform: translatey(0px);
        opacity: 0%;
	}
    50% {
		box-shadow: 0px 0px 20px 5px white;
		transform: translatey(-15px);
	}
    100% {
		box-shadow: 0px 0px 10px 2px white;
		transform: translatey(0px);
        opacity: 100%;
	}
}

@keyframes appear {
	0% {
		opacity: 0%;
	}
    100%{
        opacity: 100%;
    }
}




#container {
    display: none;
    grid-gap: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 18%;
    box-sizing: border-box;
    background: none;
    text-align: center;
    margin-bottom: 10%;
}

.box{
    padding-left: 25%;
    padding-right: 25%;
}

.riddle{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgba(255, 255, 255);
    word-spacing: 5%;
    line-height: 1.5;
}

#light{
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 0px 0px white;
    animation: float 2s ease-in-out infinite, appear 1s ease-in; 
}

@keyframes float {
	0% {
		box-shadow: 0px 0px 10px 2px white;
		transform: translatey(0px);
	}
    50% {
		box-shadow: 0px 0px 30px 7px white;
		transform: translatey(-15px);
	}
    100% {
		box-shadow: 0px 0px 10px 2px white;
		transform: translatey(0px);
	}
}

@keyframes appear {
	0% {
		opacity: 0%;
	}
    100%{
        opacity: 100%;
    }
}



#white{
    display: none;
    grid-gap: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 15%;
    box-sizing: border-box;
    background: none;
    text-align: center;
    margin-bottom: 35em;
}

.answer{
    font-size: 4em;
    font-family: "Martel", sans-serif;
    color: rgb(0, 0, 0);
    word-spacing: 5%;
    opacity: 0%;
    animation: appear2 3s ease-in-out; 
    animation-fill-mode: forwards;
}

@keyframes appear2 {
	0% {
		opacity: 0%;
        color: rgb(255, 255, 255);
	}
    50%{
        opacity: 100%;
        color: rgb(0, 0, 0);
    }
    100% {
		opacity: 0%;
        color: rgb(255, 255, 255);
	}
}

.message{
    margin-bottom: 10em;
}

.scroll{
    font-size: 1.5em;
    font-family: "Martel", sans-serif;
    word-spacing: 5%;
    animation: scroll 3s ease-in; 
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes scroll {
	0% {
		opacity: 0%;
        color: rgb(255, 255, 255);
	}
    100%{
        opacity: 100%;
        color: rgb(0, 0, 0);
    }
}

.arrow{
    font-size: 2em;
    font-family: "Martel", sans-serif;
    word-spacing: 5%;
    animation: scroll 3s ease-in, bounce 2s ease-in-out infinite; 
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: black;
    opacity: 0%;
}

@keyframes bounce {
	0% {
		transform: translatey(0px);
	}
    50%{
        transform: translatey(-10px);
    }
    100%{
        transform: translatey(0px);
    }
}

.riddle2{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgb(0, 0, 0);
    word-spacing: 5%;
    line-height: 1.5;
}

.box2{
    margin-top: 2em;
    padding-left: 20%;
    padding-right: 20%;
}




#next{
    display: none;
    grid-gap: 10%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-top: 10%;
    box-sizing: border-box;
    background: none;
    text-align: center;
    margin-bottom: 10%;
}

.how{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgb(0, 0, 0);
    word-spacing: 5%;
    line-height: 1;
    margin-bottom: 10em;
}

.info{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgb(0, 0, 0);
    word-spacing: 5%;
    line-height: 1.5;
    margin-bottom: 10em;
}

.info2{
    font-size: 3em;
    font-family: "Martel", sans-serif;
    color: rgb(0, 0, 0);
    word-spacing: 5%;
    line-height: 1.5;
}

#link {
    margin-top: -5em;
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); 
    animation: float2 2s ease-in-out infinite, appear 1s ease-in; 
}

@keyframes float2 {
	0% {
		box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
		transform: translatey(0px);
	}
    50% {
		box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
		transform: translatey(-15px);
	}
    100% {
		box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
		transform: translatey(0px);
	}
}