@import url("https://use.typekit.net/pvc1hts.css");

@media (orientation: landscape) {
    html{
        width: 100%;
    }

    body{
        text-align: -webkit-center;
        background: #000000;
        background-image: none;
        color: #ba0104;
    }

    a{
        text-decoration: none;
        color: #ba0104;
    }
    
    
    p{
        text-align: center;
        font-size: 1.7em;
        line-height: 10mm;
    
        font-family: 'anton', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ba0104;
    }

    #hit{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap: 1em;
        box-sizing: border-box;
        background: none;
        justify-items: center;

        margin-left:  10em;
        margin-right: 10em;
        margin-top: 5em;
    }

    .gas{
        height: auto;
        width: 20em;
    }

    #press{
        position: absolute;
    }


    #first{
        display: block;
        background-color: none;
        animation: disappear 2s ease-in-out;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        opacity: 100%;
    }


    @keyframes disappear{
        0%{
            opacity: 100%;
            z-index: 1;
        }
        65%{
            opacity: 0%;
            transform: scaleY(1);
            z-index: 0;
        }  
        100%{
            opacity: 0%;
            transform: scaleY(1);
            z-index: 0;
            position: fixed;
        }      
    }


    #next{
        display: block;
        animation: appear 2s ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0%;

        margin: 0%;
        width: 100vw;
        height: 100vh;
        grid-template-columns: auto;
        background-image: url(../img/rain.gif);
        background-repeat: no-repeat;
    }

    #next::before{
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    @keyframes appear{
        0%{
            opacity: 0%;
            z-index: 0;

        }
        100%{
            opacity: 100%;
            z-index: 1;
            transform: scaleY(1);
        }        
    }

    .car{
        height: 24em;
        width: 100vw;
        z-index: 0;
        position: fixed;
        top: -2.5em;
        left: -0.5em;
    }

    #container{ 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:repeat(1, auto);
        grid-gap: 1em;
        box-sizing: border-box;
        background: none;
        justify-items: center;

        position: fixed;
        margin-top: 6em;
        margin-left: 4em;
        margin-right: 4em;
        margin-bottom: 5em;

        top: -1em;
        left: -0.5em;
        z-index: 1;
    }

    .textbox{
        padding-right: 0.5em;
        margin: 0em;
        color: #ba0104;
    }

    #playaudio{
        float: left;
        top: 1em;
        left: 1em;
        position: fixed;
        z-index: 1;
    }

}