@import url("https://use.typekit.net/pvc1hts.css");

@media (orientation: landscape) {
    html{
        width: 100%;
    }

    body{
        text-align: -webkit-center;
        background: #000000;
        color: #ba0104;
    }

    a{
        text-decoration: none;
    }
    
    
    p{
        text-align: center;
        font-size: 1.7em;
        line-height: 10mm;
    
        font-family: 'anton', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ba0104;
    }

    #hit{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap: 0em;
        box-sizing: border-box;
        background: none;
        justify-items: center;

        margin-left:  10em;
        margin-right: 10em;
        margin-top: 5em;
    }

    img{
        height: auto;
        width: 28em;
    }

    #press{
        position: fixed;
        top: -3em;
    }

    .text{
        position: fixed;
        top: 2em;
        left: 11.4em;
        background-color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        border-radius: 25%;
    }

    #playaudio{
        float: left;
        top: 1em;
        left: 1em;
        position: fixed;
        z-index: 1;
    }
}

