@import url("https://use.typekit.net/pvc1hts.css");

@media (orientation: landscape) {
    html{
        width: 100%;
    }

    body{
        text-align: -webkit-center;
        background: #000000;
        color: #ba0104;
    }

    a{
        text-decoration: none;
        height: 60vh;
    }
    
    
    p{
        text-align: center;
        font-size: 1.7em;
        line-height: 10mm;
    
        font-family: 'anton', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ba0104;

        padding: 0em;
        margin-top: 0em;
    }

    #door{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:repeat(3, auto);
        grid-gap: 1em;
        box-sizing: border-box;
        background: none;
        justify-items: center;

        margin-top: 2em;
        left: -1mm;
        top: -1mm;
    }

    .push{
        text-align: center;
        font-size: 1.7em;
        line-height: 10mm;
    
        font-family: 'anton', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ba0104;
    }

    img{
        height: 40vh;
        width: 100vw;
    }

    #playaudio{
        float: left;
        top: 1em;
        left: 1em;
        position: fixed;
    }
}