@import url("https://use.typekit.net/pvc1hts.css");

@media (orientation: landscape) {
    html{
        width: 100%;
    }

    body{
        text-align: -webkit-center;
        background: #000000;
        color: #ba0104;
    }


    a{
        text-decoration: none;
        color: #ba0104;
    }
    
    
    p{
        text-align: center;
        font-size: 1.7em;
        line-height: 10mm;
    
        font-family: 'anton', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ba0104;
        margin: 0em;
    }

  
    #box{
        margin: 0%;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        background-image: url(../img/rain.gif);
        background-repeat: no-repeat;
    }

    #box::before{
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .car{
        height: 24em;
        width: 100vw;
        z-index: 0;
        position: fixed;
        top: -2em;
    }

    #container{ 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:repeat(1, auto);
        grid-gap: 1em;
        box-sizing: border-box;
        background: none;
        justify-items: center;

        padding-top: 6em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 0em;

        width: 80vw;
        height: auto;
        left: 0px;
        right: 0px;

        z-index: 1;
        position: fixed;
        opacity: 0%;
        animation: appear 1s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }

    @keyframes appear {
        0%{
            opacity: 0%;
        }
        100%{
            opacity: 100%;
        }
    }

#dinosaur{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(1, auto);
    grid-gap: 1em;
    box-sizing: border-box;
    background: none;
    justify-items: center;

    margin-top: 7em;
    margin-bottom: 7em;

    z-index: 1;
    overflow: hidden;
}


.flash{
    height: 2em;
    width: 5em;
    transform: translateX(30em);
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255) ;

    animation: flash 0.6s  ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes flash {
        0%{
            background-color: none;
            transform: translateX(30em);
        }
        50%{
            background-color:  rgb(255, 255, 255); 
        }
        100%{
            background-color:  none;
            transform: translateX(-30em);
        }
}

.textbox{
    padding: 0em;
    margin: 0em;
    color: #ba0104;
    line-height: 10mm;
}

.textboxthree{
    padding-left: 2em;
    padding-right: 2em;

    font-size: 4em;
    line-height: 1em;
}

#texttwo{
    padding: 1em;
    margin: 0em;
    color: #ba0104;
    display: none;
}

#textthree{
    margin: 0em;
    color: #ba0104;
    display: none;
}


#playaudio{
    float: left;
    top: 1em;
    left: 1em;
    position: fixed;
    z-index: 1;
}
}