html{
    width: 100%;
}

body{
    background: black;
    font-family: ;
    color: white;

}

@media (max-width: 	1170px) 
{
    .container{
        width: auto;
    }

    .title{
        font-size: large
        ;
    }
}