@import url("https://use.typekit.net/pvc1hts.css");
@import url("https://use.typekit.net/pvc1hts.css");

html{
    width: 100%;
}

body{
    text-align: -webkit-center;
    background: black;
}

p{
    font-family: 'adobe-caslon-pro', serif;
    text-align: justify;
    color: white;
    font-style: normal;
    font-size: 10pt;
    line-height: 6mm;
}

.box{
    margin-top: 15em;
    margin-bottom: 15em;
}

.book{
    font-size: 3em;
    font-family: 'broadsheet', serif;
    font-weight: 400;
    color: rgb(179, 40, 47);
    text-align: center;
}

.author{
    font-size: 1.5em;
    font-family: 'broadsheet', serif;
    font-weight: 400;
    color: rgb(179, 40, 47);
    text-align: center;
}

.title{
    font-size: 1.5em;
    margin-top: 15em;
    font-family: 'broadsheet', serif;
    font-weight: 400;
    color: rgb(179, 40, 47);
    text-align: center;
    line-height: 1cm;
}

.title1{
    font-size: 2em;
    margin-top: 4em;
    font-family: 'broadsheet', serif;
    font-weight: 400;
    color: rgb(179, 40, 47);
    text-align: center;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 390px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

    .container{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        box-sizing: border-box;
        background: none;
        width: 18em;
        position: relative;
    }

}